{% if content.getField('image').value %}
    <img class="{{class|default('')}}" src="{{ content.getField('image').value.uri }}" alt="{{ content.getField('image').value.alternativeText  }}" />
{% endif %}