{% extends "ProjectAppBundle::pagelayout.html.twig" %}



{% block content %}
    <h1>{{ ez_content_name(content) }}</h1>

    <div class="row">
        <div class="col-md-4">Siedbar Left</div>
        <div class="col-md-8">{{ ez_render_field(content, 'body') }}</div>

    </div>


{% endblock %}