{% extends "ProjectAppBundle::pagelayout.html.twig" %}



{% block content %}
    <h1>{{ ez_content_name(content) }}</h1>

    <div class="row">
        <div class="col-md-8">{{ ez_render_field(content, 'body') }}

            {{ content.getFieldValue('gear') }}

            {% set contentIds = content.getFieldValue('images') %}
            {% for contentId in contentIds.destinationContentIds %}
                {{ render( controller( "ez_content:viewAction", {'contentId': contentId, 'viewType': 'line', 'params': {  'alt': content.getFieldValue('name'), 'class': 'img-responsive' } } ) ) }}
            {% endfor %}


        </div>
        <div class="col-md-4">Siedbar</div>
    </div>

{% endblock %}