<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>
    {% block stylesheets %}
        {% stylesheets
            "@ProjectAppBundle/Resources/public/css/bootstrap.min.css"
            "@ProjectAppBundle/Resources/public/css/bootstrap-theme.min.css"
            "@ProjectAppBundle/Resources/public/css/appbundle.css"

            output='css/style.css'%}
        <link rel="stylesheet" href="{{ asset_url }}" />

        {% endstylesheets %}
    {% endblock %}
</head>
<body>
<div class="container">

    <div class="page-header">
        <p><a href="/">{{ 'eZPlatform examples'|trans }}</a></p>

    </div>
    {% block content %}{% endblock %}

    {% block javascript %}
        {% javascripts
            '@ProjectAppBundle/Resources/public/js/jquery.min.js'
            '@ProjectAppBundle/Resources/public/js/bootstrap.min.js'
            '@ProjectAppBundle/Resources/public/js/appbundle.js'

            output='js/script.js'  %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</div>
</body>
</html>